* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
}

a {
  color: darkslateblue;
  text-decoration: none;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Poppins" sans-serif;
}